.header {
  width: 100%;
  background-color: #1b1e21;
  height: 90px;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;


  .nav {
    width: 500px;
    margin: auto;


    ul {
      margin: 0;
      display: flex;
      justify-content: space-between;

      li {
        list-style: none;
        font-size: 30px;
        padding: 0;
        margin: 0;
      }
    }

    svg {
      color: #fff;
    }
  }
}